---
import { getImage } from 'astro:assets';
import TextTransClip from '~/components/common/TextTransClip';
import Testimonials from './Testimonials';
import Plus from "~/icons/plus.svg";

const testimonials = [
    { name: "Chris Azzopardi", position: "Product Consultant at Bitcoin.com", feedback: "I had the pleasure of working closely with Valentin at bitcoin.com. Throughout our time together, I was consistently impressed by their exceptional design skills, strategic thinking", image: { src: 'src/assets/images/testi-pp.jpg', alt: '' } },
    { name: "Silvano D'Orazio", position: "Group Head of User Experience and Brand", feedback: "As the Head of Design at Tyme Bank, I had the distinct pleasure of working closely with Valentin over the past few years. contributions to a wide range of projects. He played a key role in developing our new mobile banking app, praised for its user-friendly design and intuitive functionality. Valentin was instrumental in creating our new internal branding guidelines, which have helped establish a more cohesive and consistent brand identity across all touchpoints.", image: { src: 'src/assets/images/testi-pp.jpg', alt: '' } },
    { name: "Charles Mandin", position: "Senior PMO @ Nethermind", feedback: "Working with Valentin has always been a pleasure: he is focused and committed to excellence both in terms of quality and in terms of deadline. He showed a unique ability to be", image: { src: 'src/assets/images/testi-pp.jpg', alt: '' } },
    { name: "Hai Van Tran", position: "Product Designer Lead", feedback: "As the Head of Design at Tyme Bank, I had the distinct pleasure of working closely with Valentin over the past few years. contributions to a wide range of projects. He played a key role in developing our new mobile banking app, praised for its user-friendly design and intuitive functionality. Valentin was instrumental in creating our new internal branding guidelines, which have helped establish a more cohesive and consistent brand identity across all touchpoints.", image: { src: 'src/assets/images/testi-pp.jpg', alt: '' } },
    { name: "Andrew Michael Todd", position: "Head Of Marketing and Growth at Bitcoin.com", feedback: "I am delighted to recommend Valentin, a former Lead Designer at Bitcoin.com. During his time with us Valentin showcased exceptional product design and leadership skills", image: { src: 'src/assets/images/testi-pp.jpg', alt: '' } }
]

const PlusIc = await getImage({ src: Plus, format: "svg" });
---
<div class="home__testi-wrap">
    <section class="home__testi">
        <div class="container">
            <h2 class="upper home__testi-title grid">
                <span class="heading h2 fw-bold home__testi-title-txt">
                    <TextTransClip client:visible={{ rootMargin: "100% 0% 100% 0%" }}>What</TextTransClip>
                </span>
                <span class="heading h2 fw-bold home__testi-title-txt">
                    <TextTransClip client:visible={{ rootMargin: "100% 0% 100% 0%" }}>people say</TextTransClip>
                </span>
                <span class="heading h2 fw-bold home__testi-title-txt">
                    <TextTransClip client:visible={{ rootMargin: "100% 0% 100% 0%" }}>About<span class="cl-txt-title"> me</span></TextTransClip>
                </span>
                <span class="fs-20 cl-txt-desc fw-reg upper home__testi-title-label">(Testimonials)</span>
            </h2>
            <div class="home__testi-listing">
                <Testimonials data={testimonials} plusIc={PlusIc.src} client:visible={{ rootMargin: "100% 0% 100% 0%" }}/>
            </div>
        </div>
    </section>
</div>

<style lang="scss" is:global>
    @use '~/assets/styles/mixins' as *;
    .home__testi {
        position: relative;
        z-index: 3;
        padding-bottom: 5rem;
        background-color: var(--cl-dm-bg);
        &-title {
            position: relative;
            padding-block: 12rem;
            gap: 1rem 0;
            &-label {
                grid-column: 1/3;
                grid-row: 1/2;
                justify-self: end;
            }
            &-txt {
                line-height: .835em;
                &:nth-child(1) {
                    grid-column: 5/16;
                }
                &:nth-child(2) {
                    grid-column: 1/16;
                    margin-left: 1.8rem;
                }
                &:nth-child(3) {
                    grid-column: 5/16;
                }
            }
        }
        &-listing {

        }
        &-item {
            padding: 6.4rem 0 7.6rem;
            border-top: 1px solid var(--cl-dm-border);
            display: grid;
            grid-template-columns: 1fr;
            &-content,
            &-image {
                grid-area: 1/1/2/2;
            }
            &-order {
                grid-area: 1/1/2/2;

                opacity: 1;
                transition: opacity .5s cubic-bezier(.74, .06, .4, .92);
            }
            &-info {
                grid-column: 5/9;

                display: flex;
                flex-direction: column;
                gap: 2rem 0;

                opacity: .3;
                transition: opacity .5s cubic-bezier(.74, .06, .4, .92);
            }
            &-content {

            }
            &-feedback-wrap {
                grid-column: 10/-1;

                opacity: .3;
                transition: opacity .5s cubic-bezier(.74, .06, .4, .92);

                display: grid;
                max-height: (2.4rem * 1.3 * 3);
                align-items: start;
                overflow: hidden;
            }
            &-feedback {
                grid-area: 1/1/2/2;
                &.shorten {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                }
                &.fully {
                    opacity: 0;
                }
            }
            &-image {
                position: relative;
                @include size(9rem, 12rem);
                overflow: hidden;

                display: flex;
                justify-content: center;
                align-items: center;
                &-main {
                    opacity: 0;
                    transform: scale(1.4);
                    transition: transform .8s cubic-bezier(0.33, 1, 0.68, 1) .15s, opacity 1s cubic-bezier(0.16, 1, 0.3, 1) .15s;
                }
                &-blur {
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                    transition: opacity 1.2s cubic-bezier(.74, .06, .4, .92);
                }
            }
            &.active {
                .home__testi-item {
                    &-image-main {
                        transform: scale(1);
                        opacity: 1;
                        transition-delay: 0;
                    }
                    &-image-blur {
                        opacity: 1;
                        transition-delay: 0;
                    }
                    &-order {
                        opacity: 0;
                        transition-delay: 0;
                    }
                }
            }
            &:hover, &.active {
                .home__testi-item {
                    &-feedback {
                        &.shorten {
                            opacity: 0;
                        }
                        &.fully {
                            opacity: 1;
                        }
                    }
                    &-info, &-feedback-wrap {
                        opacity: 1;
                        transition-delay: 0;
                    }
                }
            }
        }
    }
</style>