---
---
<h3 {...Astro.props} class="heading h5 fw-med cl-txt-title"><slot /></h3>
<style lang="scss">
    @use '~/assets/styles/mixins' as *;
    h3 {
        margin-block: 5.8rem 2.2rem;
        @include md {
            margin-block: 3.2rem 1.6rem;
        }
        @include sm {
            margin-block: 2.6rem 1.6rem;
        }
    }
</style>