---
import BreakMultipleLine from "~/components/common/BreakMultipleLine.astro";
import Image from "~/components/common/Image.astro";
import { getNextPost } from "~/utils/project";
import Content from "./Content";

let nextPost = Astro.props.post ? await getNextPost(Astro.props.post) : undefined;
---
<section class={`sc__next-post ${nextPost ? 'default' : 'fake'}`} data-cursor-text="Next">
    <div class='next__post'>
        {nextPost ? (
            <Content link={nextPost?.permalink} client:visible={{ rootMargin: "100% 0% 100% 0%" }}>
                <div class="heading h2 upper fw-semi cl-txt-title next__post-title">
                    <BreakMultipleLine text={nextPost?.title}/>
                </div>
                <div class="next__post-img">
                    <div class="next__post-img-inner">
                        <Image
                            src={nextPost?.image}
                            widths={[400, 768, 1024, 2040]}
                            width={1728}
                            height={500}
                            alt={nextPost?.slug}
                            layout="cover"
                            decoding="async"
                            loading="lazy"
                            class="img"
                        />
                    </div>
                </div>
            </Content>
        ) : (
            <>
                <div class="heading h2 upper fw-semi cl-txt-title next__post-title">
                    <div class="grid-1-1 next__post-title-wrap">
                        <div class="current"></div>
                        <div class="next"></div>
                    </div>
                </div>
                <div class="next__post-img">
                    <div class="next__post-img-inner"></div>
                </div>
            </>
        )}
    </div>
</section>
<style lang="scss" is:global>
    @use '~/assets/styles/mixins' as *;
    .sc__next-post {
        background-color: var(--cl-dm-bg);
        &.default {
            position: relative;
        }
        &.fake {
            position: fixed;
            z-index: -1;
            width: 100%;
            height: 100vh;
            top: 0;
            pointer-events: none;
            display: flex;
            align-items: end;
            .next__post {
                position: absolute;
                top: 0;
                width: 100%;
                &-title {
                    &-wrap {
                        position: relative;
                        align-self: end;
                    }
                    .next {
                        @include md {
                            margin-bottom: 30rem;
                            opacity: 0;
                        }
                        @include sm {
                            margin-bottom: 28rem;
                        }
                        @include xs {
                            margin-bottom: 24rem;
                        }
                    }
                    .current {
                        @include md {
                            position: absolute;
                            bottom: 0;
                            transform-origin: bottom;
                        }
                    }
                }
                &-img {
                    position: relative;
                    @include md {
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            height: 28svh;
                            width: 100%;
                            background-color: var(--cl-dm-bg);
                        }
                    }
                    &-inner {
                        transition: none;
                        @include md-up {
                            opacity: .1;
                            transform: scale(1.2);
                        }
                        @include md {
                            &:after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                z-index: 3;
                                background: linear-gradient(0deg, #00050f 0%, rgb(0, 5, 15, 0) 100%);
                                width: 100%;
                                height: 15svh;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                z-index: 3;
                                background: linear-gradient(22deg, #00050f 16.32%, rgb(0, 5, 15, 0) 50%);

                                width: 100%;
                                height: 31svh;
                            }
                        }
                    }
                }
            }
        }
    }
    .next__post {
        height: 50rem;
        overflow: hidden;
        @include sm {
            height: 29rem;
        }
        &-title {
            position: absolute;
            z-index: 3;
            left: var(--container-padding);
            bottom: 7.6vh;
            line-height: .835em !important;
            @include md {
                @include text(dis1);
                line-height: .835em !important;
                bottom: 5.7svh;
            }
            @include sm {
                @include text(h1);
                line-height: .835em;
                bottom: 3.2svh;
                overflow-wrap: anywhere;
            }
            @include xs {
                width: calc(100% - 3.2rem);
            }
        }
        &-img {
            display: flex;
            justify-content: center;
            // align-items: center;
            position: relative;
            z-index: 2;
            height: 100%;
            width: 100%;
            &-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: opacity .4s ease-in-out, transform 1s cubic-bezier(0.39, 0.575, 0.565, 1);
                transform-origin: center top;
                opacity: .3;
                @include md {
                    height: 72svh;
                }
                @include sm {
                    height: 67svh;
                }
                img {
                    height: auto;
                    object-position: top center !important;
                }
                &:hover {
                    @include md-up {
                        opacity: .1;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
</style>