---
import Image from '~/components/common/Image.astro';
let currentYear = new Date().getFullYear() % 100;
---
<section class="sc-about__hero">
    <div class="about__hero">
        <div class="container">
            <h1 class="upper about__hero-title grid">
                <span class="heading h1 fw-bold about__hero-title-txt">
                    Valentin
                </span>
                <span class="heading h1 cl-txt-orange fw-bold about__hero-title-txt">
                    Chavel<span class="heading h3 fw-semi cl-txt-title ver-align-top"> ®</span>
                </span>
                <span class="heading h3 fw-semi upper about__hero-title-year">
                    <span class="cl-txt-disable">
                        93
                    </span>
                    <span class="cl-txt-title">
                        {currentYear}
                    </span>
                </spa>
            </h1>
            <div class="about__hero-info grid">
                <div class="about__hero-main-intro">
                    <h2 class="heading h5 cl-txt-sub">
                        I am a <br/> Head of Design that specializes in Finance
                    </h2>
                    <span class="line"></span>
                </div>
                <div class="grid-1-1 about__hero-main-img">
                    <Image
                        src={'~/assets/images/intro-portrait.jpg'}
                        widths={[400, 768, 1024, 2040]}
                        width={489}
                        height={686}
                        alt={'a man'}
                        layout="cover"
                        decoding="sync"
                        loading="eager"
                        class="img img-fill"
                    />
                    <Image
                        src={'~/assets/images/intro-portrait-blur.png'}
                        widths={[400, 768, 1024, 2040]}
                        width={489}
                        height={686}
                        alt={'a orange blur'}
                        layout="cover"
                        loading="lazy"
                        decoding="async"
                        class="img img-fill"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .sc-about__hero {}
    .about__hero {
        position: relative;
        z-index: 3;
        background-color: var(--cl-dm-bg);
        height: 100vh;
        overflow: hidden;

        padding-top: 30rem;
        padding-bottom: 15.2rem;
        &-title {
            margin-bottom: 12rem;
            position: relative;
            &-txt {
                line-height: .835em;
                &:nth-child(1) {
                    grid-column: 1/16;
                    grid-row: 1/2;
                    margin-left: 1.8rem;
                }
                &:nth-child(2) {
                    grid-column: 4/13;
                }
            }
            &-year {
                grid-column: 13/16;
                display: flex;
                flex-direction: column;
            }
        }
        &-info {
        }
        &-main {
            &-intro {
                grid-column: 4/7;
                margin-top: 16.2rem;

                position: relative;
                h2 {
                    padding-bottom: 2.5rem;
                }
                .line {
                    position: absolute;
                    width: 100%;
                }
            }
            &-img {
                grid-column: 9/14;
                aspect-ratio: .7;
                width: 100%;
                max-height: 68.6rem;
                overflow: hidden;
                // background-color: var(--cl-orange);
                // img {
                //     opacity: 0;
                // }
            }
        }
    }
</style>