---
import { getEntry } from 'astro:content'

import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/pages/Home/Hero/Hero.astro';
import Intro from '~/components/pages/Home/Intro/Intro.astro';
import Project from '~/components/pages/Home/Project/Project.astro';
import Testimonial from '~/components/pages/Home/Testimonial/Testimonial.astro';
import Footer from '~/components/global/Footer/Footer.astro';
import HeroClone from '~/components/pages/Home/Hero/HeroClone.astro';
import { footerData } from '~/navigation';
const metadata = {
	title: 'Valentine Cheval',
};
const { data } = await getEntry('pages', 'home');
---
<Layout metadata={metadata}>
	<div class="home-hero-intro-wrap">
		<Hero data={data.hero} />
		<Intro data={data.introduction}/>
	</div>
	<Project/>
	<Testimonial/>
	<div class="home-footer-hero">
		<div class="home-footer-hero-empty-block"></div>
		<div class="home-footer-hero-wrap grid-1-1">
			<Footer {...footerData} />
			<HeroClone data={data.hero}/>
		</div>
	</div>
</Layout>

<style lang="scss">
	.home-hero-intro-wrap {
		position: relative;
		z-index: 4;
		background-color: var(--cl-dm-bg);
	}
	.home-footer-hero {
		&-wrap {
			position: sticky;
			bottom: 0;
		}
		&-empty-block {
            height: 500vh;
        }
	}
</style>