---
import { getImage } from 'astro:assets';
import { findImage } from '~/utils/images';
import ProjectListing from './ProjectListing';
import ArrowNext from '~/icons/arrow-next-orange.svg';
import ArrowPrev from '~/icons/arrow-prev-orange.svg';
import Arrows from '~/components/common/Arrows.astro';

const arrows = {
    next: await getImage({ src: ArrowNext, format: "svg" }),
    prev: await getImage({ src: ArrowPrev, format: "svg" })
};

const projects = [
    {
        link: "/project/defichain",
        year: 2020,
        title: "Definchain",
        roles: ["Product Design"],
        services: ["Website Design", "Mobile Application"],
        selling_points: ["Up 200% Conversion Rate", "3.233.222 Downloaded"],
        desc: "DefiMetachain is the ERC-20 blockchain solution of Defichain. As part of this product, I worked on the blockchain explorer.",
        thumbnail: await findImage('~/assets/images/define-hero.jpg')
    },
    {
        link: "/project/vietcombank",
        year: 2018,
        title: "Vietcom<br/>bank",
        roles: ["Design system", "Mobile app design", "Graphic Design"],
        services: ["Website Design",  "Graphic Design"],
        selling_points: ["Increase User Engagement by 150%", "5,000,000+ Active Users"],
        desc: "Vietcombank is one of the fastest growing global bank. Part of it is due to it's strong design thinking process.",
        thumbnail: await findImage('~/assets/images/define-hero-2.jpg'),
    },
    {
        link: "/project/bidv",
        year: 2021,
        title: "BIDV",
        roles: ["Brand Identity", "UX Research", "Web Design"],
        services: ["Branding", "User Experience Research"],
        selling_points: ["Brand Recognition Boost by 120%", "Awarded Best Banking Website 2020"],
        desc: "BIDV's rebranding and UX improvements have significantly enhanced customer satisfaction and brand loyalty.",
        thumbnail: await findImage('~/assets/images/define-hero-3.jpg')
    }
]
---
<section class="sc-projects__listing">
    <div class="projects__listing">
        <ProjectListing data={projects} arrowsIC={arrows} client:visible={{ rootMargin: "100% 0% 100% 0%" }}>
            <Arrows slot="arrows" />
        </ProjectListing>
    </div>
</section>

<style lang="scss" is:global>
    @use '~/assets/styles/mixins' as *;
    .sc-projects__listing {
        position: relative;
        z-index: 6;
    }
    .projects__listing {
        &-main {
            padding-top: 17.14vh;
            padding-bottom: 8.76vh;
            height: 100%;
            @include md {
                padding-top: calc(6.6rem + 4svh);
                padding-bottom: 5.2svh;
                grid-template-rows: auto auto 1fr auto auto;
            }
            @include sm {
                padding-top: calc(6rem + 3.28svh);
                grid-template-rows: auto 1fr auto auto auto;
            }
        }
    }
    .projects__sticky {
        position: relative;
        height: 100vh;
        @include md {
            height: 100svh;
            overflow: hidden;
        }
        > .container {
            z-index: 3;
            height: 100%;
            pointer-events: none;
            @include md {
                pointer-events: auto;
            }
        }
    }
    .projects__navigation {
        z-index: 2;
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        @include md {
            display: none;
        }
        &-area {
            width: 100%;
            height: 50%;
        }
    }
    .projects__position {
        position: absolute;
        inset: 0 var(--container-padding);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        &-name {
            grid-column: 1/9;
            grid-row: 1/3;
            align-self: end;

            line-height: .835em !important;
            padding-bottom: 7.6vh;

            @include md {
                @include text(dis1);
                line-height: .835em;
                grid-column: 1/-1;
                padding-bottom: calc(30rem + 5.7svh);
            }
            @include sm {
                @include text(h1);
                line-height: .835em;
                padding-bottom: calc(28rem + 3.2svh);
                overflow-wrap: anywhere;
            }
            @include xs {
                padding-bottom: calc(24rem + 3.2svh);
            }
        }
        &-info {
            grid-row: 1/2;
            grid-column: 13/14;
            @include md {
                display: none;
            }
        }
        &-year {
            grid-column: 13/14;
            grid-row: 2/3;
            // line-height: .9em;
            padding-bottom: 9.2vh;
            align-self: end;
            @include md {
                display: none;
            }
        }
    }
    .project {
        &-item-label {
            margin-bottom: 1rem;
            pointer-events: auto;
        }
        &__name {
            grid-column: 1/5;
            overflow-wrap: break-word;
            margin-top: -.12em;
            align-self: start;
            @include md {
                grid-column: 1/-1;
                grid-row: 1/2;
                padding-bottom: 6rem;
            }
            @include sm {
                grid-row: 3/4;
                margin-top: 4rem;
                padding-bottom: 0;
                max-width: 30.12rem;
                overflow-wrap: anywhere;
                margin-bottom: 3.2rem;
            }
            &-txt {
                justify-self: start;
                align-self: start;
                line-height: .835em;
                @include md {
                    @include text(h1);
                    line-height: .835em;
                }
                @include sm {
                    @include text(h2);
                    line-height: .835em;
                }
                &.active {
                    pointer-events: auto;
                }
            }
        }
        &__desc {
            grid-column: 1/4;
            align-self: end;
            max-width: 32rem;
            position: relative;
            @include md {
                padding-top: 4rem;
                grid-column: 5/10;
                max-width: 30rem;
            }
            @include sm {
                padding-top: 3.2rem;
                grid-column: 1/-1;
                margin-right: 6rem;
            }
            .line {
                display: none;
                @include sm {
                    display: block;
                    position: absolute;
                    top: 0;
                }
            }
            &-txt {
                justify-self: start;
                align-self: end;
                &.active {
                    pointer-events: auto;
                }
                @include sm {
                    align-self: start;
                }
            }
        }
        &__link {
            display: none;
            align-items: center;
            column-gap: .6rem;
            @include md {
                margin-top: 4.35svh;
                display: flex;
            }
            @include sm {
                margin-top: 4rem;
            }
        }
        &__info {
            position: relative;
            z-index: 6;
            // grid-column: 6/9;
            grid-column: 6/16;
            grid-row: 1/2;
            align-self: start;
            justify-self: start;

            @include md {
                grid-row: 3/4;
                grid-column: 1/5;
                padding-top: 8rem;
            }
            @include sm {
                display: none;
            }

            // display: flex;
            // width: 100%;
            // gap: 0 1.9rem;
            // margin-left: -1.9rem;
            &-empty {
                // flex: 0;
                // transition: flex .5s ease-in-out;
            }
            &-inner {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 7.4rem 0;
                @include md {
                    gap: 3.2rem 0;
                }
                // margin-left: calc(var(--grid-gap) * -1);
            }
        }
        &__role,
        &__services,
        &__selling {
            display: flex;
            flex-direction: column;
            align-items: start;
            &-listing {
                align-self: start;
                justify-self: start;

                display: flex;
                flex-direction: column;
                align-items: start;
                &.active {
                    p {
                        pointer-events: auto;
                    }
                }
            }
        }
        &__year {
            grid-column: 6/8;
            align-self: end;
            pointer-events: auto;
            display: flex;
            gap: 0 .5rem;
            line-height: .9em;
            @include md {
                grid-column: 1/5;
                grid-row: 4/5;
            }
            @include sm {
                grid-column: 1/-1;
                grid-row: 3/5;
                justify-self: end;
                margin-bottom: -.5rem;
                @include text(14);
            }
        }
        &__thumbnail {
            height: 100%;
            &-wrap {
                grid-column: 9/15;
                grid-row: 1/3;
                position: relative;
                overflow: hidden;
                @include md {
                    grid-column: 5/-1;
                    grid-row: 2/5;
                }
                @include sm {
                    grid-column: 1/-1;
                    grid-row: 1/3;
                    margin-right: 6rem;
                }
            }
            &-listing {
                height: 100%;
                display: grid;
            }
            &-img {
                --clipIn: 100%;
                --clipOut: 100%;
                --imgTrans: 0%;
                --imgDirection: -1;
                --imgScale: 1;

                position: relative;
                @include size(100%);
                clip-path: polygon(var(--clipIn) var(--clipIn), var(--clipOut) var(--clipIn), var(--clipOut) var(--clipOut), var(--clipIn) var(--clipOut));
                &.active {
                    pointer-events: auto;
                }
                &-wrap {
                    transform-origin: 25% 25%;
                    transform: scale(var(--imgScale));
                    @include size(100%);
                }
                &-inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    pointer-events: none;

                    @include size(100%);
                    img {
                        position: absolute;
                        object-fit: cover;
                        transform: translate(calc(var(--imgTrans) / (2 * var(--imgDirection))), calc(var(--imgTrans) / (2 * var(--imgDirection))));
                    }
                }
            }
        }
        &__pagination {
            grid-column: -2/-1;
            grid-row: 1/3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include md {
                grid-column: 1/5;
                grid-row: 2/3;
            }
            @include sm {
                grid-column: 1/1/-1;
                grid-row: 1/2;
                justify-self: end;
            }
            &-main {
                display: flex;
                flex-direction: column;
                pointer-events: none;
                @include md {
                    display: none;
                }
            }
            &-item {
                position: relative;
                display: flex;
                justify-content: center;
                align-items:  center;
                width: 100%;
                height: 100%;
                &-wrap {
                    height: .2rem;
                    overflow: hidden;
                    padding: 1rem 0;
                    width: 6.6rem;
                    cursor: pointer;
                }
                &-img {
                    position: absolute;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-progress {
                    z-index: 2;
                    position: absolute;
                    inset: 0;
                    border: .2rem solid transparent;
                    background: #fff border-box;
                    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    opacity: .1;
                    transition: opacity .4s linear;
                    &-inner {
                        position: absolute;
                        z-index: 3;
                        // inset: -.15rem;
                        // border: .2rem solid transparent;
                        // @include size(150%);
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        background: linear-gradient(45deg, rgba(255, 61, 0, 0), rgba(255, 61, 0, 1)) border-box;
                        // -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                        // mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                        // mask-composite: exclude;
                        // opacity: 0;
                        // transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1) .3s;
                    }
                }
            }
            &-wrap {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 2rem;
            }
            .line {
                position: absolute;
                bottom: 0;
            }
            &-number {
                position: relative;
                display: flex;
                align-items: center;
                gap: 0 1rem;
                line-height: .9em;
                @include md {
                    @include text(18);
                    line-height: 1em;
                }
                @include sm {
                    @include text(14);
                    gap: 0 .2rem;
                    line-height: 1em;
                }
            }
        }
        &__control {
            display: none;

            @include md {
                display: flex;
                align-items: end;
                justify-self: end;
                gap: 0 .8rem;
                grid-area: 1/1/2/-1;
                padding-bottom: 6rem;
            }
            @include sm {
                padding-bottom: 0;
                grid-row: 2/3;
                margin: -.3rem;
            }
            &-arrow {
                @include size(4.4rem);
                border-radius: 50%;
                border: 1px solid var(--cl-dm-border);
                display: flex;
                justify-content: center;
                align-items: center;
                @include sm {
                    @include size(2.2rem);
                    border: none;
                }
            }
        }
    }
</style>