---
---
<div class="project__transition"></div>
<style lang="scss" is:global>
    .project__transition {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 5;
    }
    .project__thumbnail-img-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
        }
    }
</style>
