---
import IntroScript  from './script';
---
<section class="sc-about__intro">
    <IntroScript client:visible={{ rootMargin: "100% 0% 100% 0%" }}/>
    <div class="about__intro">
        <div class="container grid">
            <p class="fs-24 fw-reg about__intro-label">(Vision)</p>
            <div class="heading h4 cl-txt-title about__intro-vision-content">
                <span class="line"></span>
                <div class="about__intro-vision-content-txt">
                    <p class="about__intro-vision-empty">|</p>As a designer and Rotarian, I believe in service above self. I believe being a designer is being a servant, in the most noble sense of the term; it's dedicating yourself to finding the right balance between user needs and business goals. I follow Design Thinking principles: metrics used to iterate fast and verify hypothesis. I believe in constant testing and fail fast, learn fast principles.
                </div>
                <span class="line"></span>
            </div>
        </div>
        <div class="container grid">
            <p class="fs-24 fw-reg about__intro-label">(I work with)</p>
            <div class="about__intro-passion">
                <h3 class="heading h5 cl-txt-sub fw-med about__intro-passion-title">I have a strong passion for highly complex financial products</h3>
                <span class="line"></span>
                <div class="about__intro-passion-sub">
                    <p>I'm fascinated by their intricate details and the strategic thinking required to use them effectively. This drives me to stay updated on the latest developments in the financial industry.
                        <br/><br/>
                        <span class="fw-med cl-txt-disable">
                            if you are not a financial service.<br/>Sorry, I will not work for you.
                        </span>
                    </p>
                </div>
            </div>
            <div class="fw-med about__intro-passion-listing">
                <div class="about__intro-passion-circle">
                    <p class="fs-24 fw-med cl-txt-title about__intro-passion-circle-txt">Fintech</p>
                </div>
                <div class="about__intro-passion-circle">
                    <p class="fs-24 fw-med cl-txt-title about__intro-passion-circle-txt">Blockchain</p>
                </div>
                <div class="about__intro-passion-circle">
                    <p class="fs-24 fw-med cl-txt-title about__intro-passion-circle-txt">Web3</p>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    @use '~/assets/styles/mixins' as *;

    .sc-about__intro {}
    .about__intro {
        background-color: var(--cl-dm-bg);
        overflow: hidden;
        position: relative;
        z-index: 3;
        &-label {
            grid-column: 1/3;
            padding-top: 12rem;
            @include md {
                padding-top: 6rem;
                @include text(16);
            }
            @include sm {
                grid-area: 1/1/2/-1;
                margin-top: 0;
                padding-top: 3.2rem;
            }
        }
        &-vision {
            &-content {
                grid-column: 4/17;
                display: flex;
                flex-direction: column;
                gap: 12rem 0;
                @include md {
                    gap: 6rem 0;
                    grid-column: 3/-1;
                }
                @include sm {
                    grid-column: 1/-1;
                    grid-row: 1/2;
                }
            }
            &-empty {
                width: 49rem;
                background-color: red;
                opacity: 0;
            }
        }
        &-passion {
            grid-column: 4/7;
            display: flex;
            flex-direction: column;
            @include md {
                grid-column: 3/6;
            }
            @include sm {
                grid-column: 1/-1;
            }
            &-title {
                padding-top: 12rem;
                padding-bottom: 3.2rem;
                @include md {
                    padding-top: 6rem;
                }
                @include sm {
                    padding-block: 3.2rem;
                }
            }
            &-sub {
                padding-top: 16.6rem;
                @include md {
                    padding-top: 6rem;
                }
                @include md {
                    padding-top: 3.2rem;
                }
            }
            &-listing {
                --circle-size: 50rem;
                --circle-gap: 10rem;
                --padding-block: 12rem;

                position: relative;

                display: grid;
                grid-column: 10/16;
                justify-self: center;

                margin-right: 6.4rem;
                padding-top: var(--padding-block);
                padding-bottom: calc(var(--padding-block) + var(--circle-size) - (var(--circle-gap) * 2));
                @include md {
                    --circle-size: 27.8rem;
                    --circle-gap: 6rem;

                    grid-column: 8/12;
                    margin-inline: 1.2rem;
                }
                @include sm {
                    --circle-size: 20.6rem;
                    --circle-gap: 4rem;
                    --padding-block: 4rem;

                    grid-column: 1/-1;
                }
                &:before {
                    content: 'VC';
                    @include text(h5);
                    color: var(--cl-orange);
                    font-family: 'Matter SQ Med', sans-serif;
                    font-weight: 500;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% + var(--circle-gap) / 2));
                    @include md {
                        @include text(18);
                    }
                    @include sm {
                        @include text(16);
                    }
                }
            }

            &-circle {
                position: relative;
                grid-area: 1/1/2/2;
                @include size(var(--circle-size));
                display: flex;
                justify-content: center;
                align-items: center;
                transform-origin: center calc(var(--circle-size) - (var(--circle-gap) / 2));

                @keyframes cir-rotate {
                    to { transform: rotate(360deg) }
                }
                &:before {
                    --d: 4deg; /* distance between dashes */
                    --n: 55;   /* number of dashes */
                    --c: var(--cl-dm-disable); /* color of dashes */
                    --b:2px;

                    content: '';
                    position: absolute;
                    inset: 0;
                    border-radius: 50%;
                    background:
                        repeating-conic-gradient(
                            var(--c)    0 calc(360deg/var(--n) - var(--d)),
                            transparent 0 calc(360deg/var(--n)));
                    -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--b)),#fff calc(100% - var(--b) + 1px));
                            mask:radial-gradient(farthest-side,transparent calc(100% - var(--b)),#fff calc(100% - var(--b) + 1px));
                    animation: cir-rotate 20s linear 0s infinite;
                    @include md {
                        --n: 45;
                    }
                }
                &-txt {
                    @include md {
                        @include text(14);
                    }
                    @include sm {
                        @include text(12);
                    }
                }

                @for $i from 1 through 3 {
                    $rotation: calc(#{1 - $i} * 120deg);
                    &:nth-child(#{$i}) {
                        transform: rotate($rotation);
                        .about__intro-passion-circle-txt {
                            transform: rotate(calc($rotation * -1));
                        }
                    }
                }
            }
        }
    }
</style>