---
import Icon from '~/icons/arrow.svg?raw';
import IconLong from '~/icons/arrow-long.svg?raw';
const { class: className, type = 'default', size = 1.6 } = Astro.props;
---
<div class:list={["ic-arr-wrap", className]}>
    <div class="arr-main ic">
        {type !== 'default' ? <Fragment set:html={IconLong} /> : <Fragment set:html={Icon} />}

    </div>
    <div class="arr-clone ic">
        {type !== 'default' ?  <Fragment set:html={IconLong} /> : <Fragment set:html={Icon} />}
    </div>
</div>
<style lang="scss" is:global define:vars={{ size }}>
    @use '~/assets/styles/mixins' as *;
    .ic-arr-wrap {
        display: grid;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
    .arr-main,
    .arr-clone {
        transition: transform .6s cubic-bezier(.4,0,.1,1);
        grid-area: 1/1/2/2;
        @include size(calc(var(--size) * 1rem));

        @include sm {
            width: 1.4rem;
        }
    }
    .arr-clone {
        transform: translate(-100%, 100%);
    }
    @media (hover:hover) {
        .arrow-hover:hover {
            .arr-main {
                transform: translate(100%, -100%);
            }
            .arr-clone {
                transform: translate(0);
            }
        }
    }
</style>