---
---
<div class="debug-area">
    <div class="container grid">
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
        <span class="container-col"></span>
    </div>
</div>
<style>
    .debug-area {
        position: relative;
        z-index: 2;
        pointer-events: none;
        /* opacity: 0; */
    }
    .debug-area .container {
        position: fixed;
        height: 100%;
    }
    .container-col {
        grid-column: span 1;
        background-color: rgba(255, 0, 0, .08);
    }
</style>