:root {
    --cl-dm-bg: #00050f;
    --cl-dm-title: #fff;
    --cl-dm-subtitle: rgba(255, 255, 255, .7);
    --cl-dm-body: rgba(255, 255, 255, .5);
    --cl-dm-desc: #555658;
    --cl-dm-disable: rgba(255, 255, 255, 0.15);
    --cl-dm-border: rgba(255, 255, 255, 0.10);

    --cl-lm-bg: #FFFBF9;
    --cl-lm-txt: #1D1D1D;
    --cl-lm-desc: rgba(29, 29, 29, 0.50);
    --cl-lm-disable: rgba(29, 29, 29, 0.30);
    --cl-lm-border: #C4C4C4;

    --cl-orange: #ff3d00;
    --cl-white: #fff;
}

.cl-txt {
    &-orange {
        color: var(--cl-orange) !important;
    }
    &-title {
        color: var(--cl-dm-title);
    }
    &-sub {
        color: var(--cl-dm-subtitle);
    }
    &-desc {
        color: var(--cl-dm-desc);
    }
    &-disable {
        color: var(--cl-dm-disable);
    }
}