*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: .6s;
}

:root {
    --spring-easing-1: linear(
        0, 0.002, 0.009 1%, 0.035, 0.078, 0.141 4.4%, 0.281 6.7%, 0.723 12.9%, 0.842,
        0.938, 1.017, 1.077 20.4%, 1.101, 1.121, 1.137, 1.149 24.3%, 1.159, 1.163,
        1.161, 1.154, 1.143, 1.129 32.8%, 1.051 39.6%, 1.017 43.1%, 1.002, 0.991,
        0.982 48.9%, 0.977 51%, 0.974 53.8%, 0.975 57.1%, 0.979 60%, 0.997 69.8%,
        1.001, 1.003 76.9%, 1.004 83.8%, 1
    );
    --spring-easing-2: linear(
        0, 0.009, 0.035 2.1%, 0.141 4.4%, 0.723 12.9%, 0.938, 1.077 20.4%, 1.121,
        1.149 24.3%, 1.163 27%, 1.154 29.9%, 1.017 43.1%, 0.991, 0.977 51%,
        0.975 57.1%, 1.003 76.9%, 1
    );
    --spring-easing-3: linear(
        0, 0.938 16.7%, 1.149 24.3%, 1.154 29.9%, 0.977 51%, 1
    )
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
    background-color: var(--cl-dm-bg);
    font-kerning: none;
    &.lenis {
        height: auto;
    }
}

html.is-changing .transition-fade {
    transition: 0.4s;
    opacity: 1;
}
html.is-animating .transition-fade {
    opacity: 0;
}

body {
    @include text(16);
}

.main {
    opacity: 1;
    transition: opacity 300ms ease;

    &.on-load {
        opacity: 0;
    }
}

.lenis {
    &.lenis-smooth {
        scroll-behavior: auto;
    }

    &.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    &.lenis-stopped {
        overflow: hidden;
    }

    &.lenis-scrolling iframe {
        pointer-events: none;
    }
}

.main {
    position: relative;
}

.grid {
    --grid-gap: 2rem;
    --grid-column: 16;

    display: grid;
    column-gap: var(--grid-gap);
    grid-template-columns: repeat(var(--grid-column), 1fr);

    @include md {
        --grid-gap: 1.6rem;
    }
}

.container {
    --container-width: 1728px;
    --container-padding: 6rem;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-padding);

    // max-width: var(--container-width);
    &.fluid {
        max-width: none;
    }

    &.calc-h {
        height: 100%;
    }

    @include md {
        --grid-column: 12;
        --container-padding: 4rem;
    }

    @include sm {
        --grid-column: 4;
        --container-padding: 2rem;
    }

    @include xs {
        --container-padding: 1.6rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button,
input,
textarea {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
}

button {
    cursor: pointer;

    * {
        pointer-events: none;
    }
}

ul, li {
    list-style: none;
}

img,
.img {
    display: block;
    width: 100%;
    height: auto;

    &.img-h {
        height: 100%;
        width: auto;
    }

    &.img-fill {
        height: 100%;
        object-fit: cover;
    }
}

button {
    appearance: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    border: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.4rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--cl-orange);
    background-color: unset;
    border: 1px solid var(--cl-dm-border);

    &.fill {
        background-color: var(--cl-orange);
    }

    &[data-cursor-txtlink] {
        .txt {
            transition: transform 400ms ease;
        }

        &:hover {
            .txt {
                transform: translateX(.6rem);
            }
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        top: 0;
        left: -100%;
        z-index: -1;
        @include transition(transform 0.3s cubic-bezier(0.75, 0, 0.125, 1));
    }

    &::before {
        background-color: var(--cl-orange);
    }

    &::after {
        background-color: var(--cl-dm-dark);
    }

    @media (hover: hover) {
        &:hover {

            &::before,
            &::after {
                @include transform(translate3d(100%, 0, 0));
            }

            &::after {
                transition-duration: .38s;
                @include transition-delay(0.08s);
            }
        }
    }
    &-circle {
        border-radius: 50%;
        padding: 0;
        @include size(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 61, 0, 0.01);
        backdrop-filter: blur(1rem);
        transition: border-color 0.4s ease-in-out;
        &:before,
        &:after {
            display: none;
        }
        &:hover {
            background: rgba(255, 61, 0, 0.05);
            border-color: var(--cl-dm-disable);
        }
    }
}
.btn-outline {
    position: relative;
    overflow: hidden;
    transition: all 400ms ease-in-out;
    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        top: 0;
        left: -100%;
        z-index: -1;
        @include transition(transform 0.4s cubic-bezier(0.75, 0, 0.125, 1));
    }

    &::before {
        background-color: var(--cl-orange-dark);
    }

    &::after {
        background-color: var(--cl-orange);
    }
    &-ic {
        height: 7.2rem;
        margin: -.1rem 0;
    }
    @media (hover: hover) {
        @include md-up {
            &:hover {
                color: var(--cl-white);
                border-color: var(--cl-orange);

                &::before,
                &::after {
                    @include transform(translate3d(100%, 0, 0));
                }

                &::after {
                    transition-duration: .38s;
                    @include transition-delay(0.08s);
                }
                .btn-outline-ic {
                    border-color: var(--cl-dm-bg);
                }
            }
        }
    }
}

.line {
    @include size(100%, .1rem);
    background-color: var(--cl-dm-border);

    &-ver {
        @include size(.2rem, 100%);
    }
}

.hide-mb {
    @include sm {
        display: none !important;
    }
}

.hide-dk {
    @include sm-up {
        display: none !important;
    }
}
.divScript {
    position: absolute;
    inset: 0;
}
@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.marquee {
    display: flex;
    // width: max-content;
    width: 100vw;
    &-inner {
        display: flex;
        &-item {
            width: max-content;
            will-change: transform;
            display: flex;
            flex: none;
            // animation: marquee 2s linear 0s infinite;
        }
    }
}