.mf-cursor {
    $root:&;

    position:fixed;
    top:0;
    left:0;
    z-index:250;

    direction:ltr;
    contain:layout style size;
    pointer-events:none;

    display:flex;
    align-items:center;
    justify-content:center;

    transition: opacity 0.3s, color 0.4s;
    &:before {
        content:"";
        position:absolute;
        top:-3rem;
        left:-3rem;
        display:block;
        width:6rem;
        height:6rem;
        transform:scale(0.2);

        background: var(--cl-orange);
        border-radius: 50%;

        transition: transform 0.25s ease-in-out, opacity 0.1s, background-color 0.25s ease-in-out;
    }
    &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.-inverse {
        color:invert(var(--cl-orange));
    }

    &.-exclusion {
        @supports (mix-blend-mode:exclusion) {
            mix-blend-mode:exclusion;

            &:before {
                background:invert(var(--cl-orange));
            }
        }
    }

    &.-pointer {
        &:before {
            transform:scale(0.15);
        }
    }

    &.-text {
        &:before {
            opacity:0.85;
            transform:scale(1.7);
        }

        &.-active:before {
            transform:scale(1.6);
            transition-duration:0.2s;
        }
    }
    &.-stroke {
        &:before {
            backdrop-filter: blur(1rem);
            background: rgba(255, 61, 0, 0.01);
            border: 1px solid var(--cl-dm-border);
        }
        .mf-cursor-text {
            color: var(--cl-orange);
        }
    }

    &.-icon {
        &:before {
            transform:scale(1.7);
        }

        &.-active:before {
            transform:scale(1.6);
        }
    }

    &.-hidden {
        &:before {
            transform:scale(0);
        }
    }

    &-text {
        position:absolute;
        top: -1.8rem;
        left: -1.8rem;
        width: 3.6rem;
        height: 3.6rem;

        display:flex;
        align-items:center;
        justify-content:center;
        transform: scale(0) rotate(10deg);

        opacity:0;

        color: var(--cl-dm-title);
        // background-color: var(--cl-orange);
        border-radius: 50%;
        font-family: 'Helvetica Neue Reg';
        font-weight: 400;
        line-height: 1.4;


        text-align:center;

        transition:opacity 0.4s, transform 0.3s;

        #{$root}.-text & {
            opacity:1;
            transform: scale(1);
        }
        #{$root}.-icon & {
            opacity:1;
            transform: scale(1);
        }
    }
    #{$root}.-media & {
        opacity:1;
        transform: scale(1);
    }
    &.-media {
        &:before {
            transform:scale(1.7);
        }
    }

    &-media {
        position:absolute;
        width: 3rem;
        height: 3rem;
        // width:40rem;
        // height:40rem;
        // margin:(-40rem * 0.5) 0 0 (-40rem * 0.5);

        img, video {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            border-radius:50%;

            @supports (object-fit:cover) {
                position:static;
                width:100%;
                height:100%;
                object-fit:cover;
                transform:translateZ(0);
            }
        }

        &-box {
            position:relative;
            width:100%;
            height:100%;
            overflow:hidden;
            transform:scale(0) translateZ(0);
            padding: .1rem;

            opacity:0;
            border-radius:50%;

            transition:transform 0.35s, opacity 0.2s 0.2s;

            #{$root}.-media & {
                opacity:1;
                transform:scale(0.696);
                transition-duration:0.4s, 0.4s;
                transition-delay:0s, 0s;
            }
        }
    }
}
