html {
    .transition-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: var(--cl-dm-bg);
        opacity: 0;
        // transform: translate3d(0, calc(-1 * 100% * var(--overlay-direction, 1)), 0);
        transition: opacity 1000ms ease-in-out;
        pointer-events: none;
    }

    &.is-changing .transition-fade {
        transition: 0.4s;
        opacity: 1;
    }
    &.is-animating .transition-fade {
        opacity: 0;
    }


    @include swup-path(animating, projects, project) {
        .transition-fade {
            transition: .6s;
        }
        .project__name-txt.active {
            opacity: 0;
        }
        .project__desc-txt.active .word {
            transform: translateY(100%) !important;
            transition: .4s ease-in-out;
        }
    }
    @include swup-path(changing, projects, project) {
        .transition-fade {

        }
    }

    @include swup-path(animating, project, project) {
        .transition-fade {
            transition: .6s;
        }
    }
}