---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/global/Header/Header.astro';
import DebugArea from '~/components/common/DebugArea.astro';
import { headerData } from '~/navigation';

const { metadata } = Astro.props;
---
<Layout title={metadata.title}>
    <DebugArea />
    <slot name="header">
        <Header { ...headerData }/>
    </slot>
    <main id="page-container" class="transition-fade">
        <slot />
    </main>
    <div class="noise"></div>
</Layout>
