---
import { headerData } from '~/navigation';

import Layout from '~/layouts/Layout.astro';
import Header from '~/components/global/Header/Header.astro';
import DebugArea from '~/components/common/DebugArea.astro';

import HeroTransition from '~/components/pages/Projects/Transition/Hero.astro';
import NextPost from '~/components/pages/Projects/Post/Next/NextPost.astro';

const { metadata, post } = Astro.props;
---
<Layout title={metadata.title}>
    <DebugArea />
    <slot name="header">
        <Header { ...headerData }/>
    </slot>
    <HeroTransition />
    <main id="swup" class="page transition-fade">
        <slot />
        {post && (<NextPost post={post}/>)}
    </main>
    <div class="noise"></div>
</Layout>
