---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/global/Header.astro';
import DebugArea from '~/components/common/DebugArea.astro';
// import Footer from '~/components/widgets/Footer.astro';
import { headerData } from '~/navigation';

const { metadata } = Astro.props;
---
<Layout title={metadata.title}>
    <DebugArea />
    <slot name="header">
        <Header { ...headerData }/>
    </slot>
    <main class="transition-fade">
        <slot />
    </main>
    <!-- <slot name="footer">
    <Footer {...footerData} />
    </slot> -->
</Layout>
