---
import Image from '~/components/common/Image.astro';
import TextTransClip from '~/components/common/TextTransClip';
import ServicesScript  from './script';
const services = [
    { name: 'Web Design', desc: 'Lorem ipsum dolor sit amet consectetur. Libero dignissim nunc massa placerat euismod volutpat. Amet vel donec a urna faucibus.' },
    { name: 'Brand Design & Strategy', desc: 'Lorem ipsum dolor sit amet consectetur. Libero dignissim nunc massa placerat euismod volutpat. Amet vel donec a urna faucibus.' },
    { name: 'Product Design', desc: 'Lorem ipsum dolor sit amet consectetur. Libero dignissim nunc massa placerat euismod volutpat. Amet vel donec a urna faucibus.' }
]
---
<section class="sc-about__service">
    <div class="about__service">
        <ServicesScript client:visible={{ rootMargin: "100% 0% 100% 0%" }}/>
        <div class="container">
            <h2 class="fix-font about__service-title grid">
                <span class="upper heading h2 fw-bold about__service-title-txt">What I can</span>
                <span class="upper heading h2 fw-bold about__service-title-txt">help for your</span>
                <span class="upper heading h2 fw-bold cl-txt-title about__service-title-txt">business</span>
                <span class="fs-20 cl-txt-desc fw-reg about__service-title-label">(Services)</span>
            </h2>
            <h2 class="fix-font about__service-title mod-mb grid">
                <span class="upper heading h2 fw-bold about__service-title-txt">What</span>
                <span class="upper heading h2 fw-bold about__service-title-txt">I can help</span>
                <span class="upper heading h2 fw-bold about__service-title-txt">for your</span>
                <span class="upper heading h2 fw-bold cl-txt-title about__service-title-txt">business</span>
                <span class="fs-20 cl-txt-desc fw-reg about__service-title-label">(Services)</span>
            </h2>
            <div class="about__service-listing">
                {services.map((service, idx) =>
                    <div class="about__service-item grid">
                        <span class="line"></span>
                        <p class="fs-20 cl-txt-disable about__service-item-order">{(idx + 1).toString().padStart(2, '0')}.</p>
                        <h3 class="heading h3 fw-semi about__service-item-title">
                            <span>{service.name}</span>
                            <span>{service.name}</span>
                        </h3>
                        <div class="about__service-item-desc">{service.desc}</div>
                        <button class="about__service-item-toggle">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                )}
            </div>
        </div>
    </div>
    <div class="about__daily container grid">
        <div class="grid-1-1 about__daily-img">
            <Image
                src={'~/assets/images/intro-life.jpg'}
                widths={[400, 768, 1024, 2040]}
                width={1728}
                height={876}
                alt={'a man cooking'}
                layout="cover"
                loading="lazy"
                decoding="async"
                class="about__daily-img-inner"
            />
            <Image
                src={'~/assets/images/intro-life-blur.png'}
                widths={[400, 768, 1024, 2040]}
                width={1728}
                height={876}
                alt={'a orange blur'}
                layout="cover"
                loading="lazy"
                decoding="async"
                class="about__daily-img-blur"
            />
        </div>
        <p class="fs-24 fw-med cl-txt-title about__daily-content">Outside of work, I am a learning cook, a loving father and an avid learner of all things strategies. I am a recovering suit addict and a lover of beauty.</p>
    </div>
</section>
<style lang="scss">
    @use '~/assets/styles/mixins' as *;

    .sc-about__service {}
    .about__service {
        position: relative;
        z-index: 3;
        padding-block: 6rem;
        background-color: var(--cl-dm-bg);
        &-title {
            position: relative;
            margin-bottom: 8rem;
            &.mod-mb {
                display: none;
                @include sm {
                    display: grid;
                }
            }
            @include md {
                margin-bottom: 6rem;
            }
            @include sm {
                display: none;
                margin-bottom: 4rem;
            }
            &-label {
                grid-column: 15/17;
                grid-row: 1/2;
                justify-self: end;
                @include md {
                    grid-column: 11/13;

                    @include text(16);
                }
                @include sm {
                    grid-area: 1/1/2/-1;
                    margin-top: .35em;
                }
            }
            &-txt {
                line-height: .835em;
                grid-column: 4/-1;
                @include md {
                    grid-column: 3/-1;

                    @include text(dis2);
                }
                @include sm {
                    grid-column: 1/-1;
                    @include text(h2);
                }
                &:nth-child(1) {
                    grid-row: 1/2;
                }
                &:nth-child(3),
                &:nth-child(4) {
                    @include sm {
                        grid-column: 2/-1;
                        margin-left: -3rem;
                    }
                }
            }
        }
        &-listing {
            display: flex;
            flex-direction: column;
        }
        &-item {
            position: relative;
            padding-block: 6.4rem;
            @include sm {
                padding-block: 3.2rem;
            }
            .line {
                position: absolute;
                top: 0;
            }
            &-order {
                transition: color .4s ease-in-out .2s;
                @include md {
                    align-self: center;
                }
                @include sm {
                    @include text(16);
                    align-self: start;
                    margin-top: .25em;
                }
            }
            &-title {
                grid-column: 4/14;
                display: grid;
                // height: 1em;
                overflow: hidden;
                @include md {
                    grid-column: 3/10;
                    margin-bottom: .5rem;
                }
                @include sm {
                    @include text(h4);
                    grid-column: 2/-2;
                    margin-left: -3rem;
                    margin-right: -5rem;
                    margin-bottom: .8rem;
                }
                span {
                    grid-area: 1/1/2/2;
                    transition: transform .8s cubic-bezier(0.87, 0, 0.13, 1), opacity .6s ease-in-out .2s;
                    align-self: center;
                    &:last-child {
                        color: var(--cl-orange);
                        transform: translateY(100%);
                    }
                }
            }
            &-desc {
                grid-column: 14/17;
                opacity: 0;
                transform: translateY(1rem);
                transition: opacity .8s ease-in-out .2s, transform .8s ease-in-out;
                @include md {
                    grid-column: 3/10;
                    grid-row: 2/3;
                    height: 0;
                    overflow: hidden
                }
                @include sm {
                    grid-column: 2/-2;
                    margin-left: -3rem;
                    margin-right: -5rem;
                }
            }
            &-toggle {
                display: none;
                @include md {
                    display: grid;
                    align-self: center;
                    grid-column: 12/13;

                    align-items: center;
                    justify-content: center;

                    @include size(4.4rem);
                    border-radius: 50%;
                    border: 1px solid var(--cl-dm-border);
                    background-color: rgba(255, 61, 0, 0.04);
                    backdrop-filter: blur(1rem);
                    transition: transform .5s cubic-bezier(.455, .03, .515, .955), background-color .3s ease-out .1s;
                    span {
                        grid-area: 1/1/2/2;
                        line-height: 1em;
                        height: 1px;
                        width: 1.6rem;
                        background-color: var(--cl-orange);
                        transition: background-color .3s ease-out .25s, opacity .2s ease-in-out .1s;
                        font-size: 0;
                        @include sm {
                            background-color: var(--cl-dm-desc);
                        }
                        &:before, &:after {
                            display: none;
                        }
                        &:last-child {
                            transform: rotate(90deg);
                        }
                    }
                    @include sm {
                        grid-column: -2/-1;
                        justify-self: end;
                    }
                }
                @include sm {
                    @include size(1.6rem);
                    border: none;
                }
            }
            &:hover {
                @include md-up {
                    .about__service-item {
                        &-order {
                            @include tColor(body, dm);
                        }
                        &-title {
                            span {
                                &:first-child {
                                    opacity: 0;
                                    transform: translateY(-100%);
                                }
                                &:last-child {
                                    transform: translate(0);
                                }
                            }
                        }
                        &-desc {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
            &.active {
                .about__service-item {
                    &-order {
                        @include tColor(body, dm);
                    }
                    &-title {
                        span {
                            &:first-child {
                                transform: translateY(-100%);
                                opacity: 0;
                            }
                            &:last-child {
                                transform: translate(0);
                                opacity: 1;
                            }
                        }
                    }
                    &-desc {
                        opacity: 1;
                        transform: translateY(0);
                    }
                    &-toggle  {
                        transform: rotate(-180deg);
                        background-color: var(--cl-orange);
                        @include sm {
                            background-color: transparent;
                        }
                        span {
                            background-color: var(--cl-white);
                            @include sm {
                                background-color: var(--cl-orange);
                            }
                            &:last-child {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .about__daily {
        margin-top: -1px;
        overflow: hidden;
        &-img {
            position: relative;
            z-index: 2;
            margin: 0 calc(var(--container-padding) * -1);
            grid-column: 1/-1;
            grid-row: 1/2;
            @include md {
                margin: 0 -25rem;
            }
            @include sm {
                margin: 0 -30rem;
            }
            &-inner {
                position: relative;
                z-index: 2;
            }
            &-blur {
                position: relative;
                z-index: 3;
            }
        }
        &-content {
            position: relative;
            z-index: 3;
            grid-column: 4/8;
            grid-row: 1/2;
            max-width: 38.6rem;
            align-self: end;
            padding-bottom: 10.2rem;
            @include md {
                grid-column: 3/7;
                margin-right: calc(var(--grid-gap) * -1);
                padding-bottom: 6.5rem;
                @include text(20);
            }
            @include sm {
                @include text(16);
                grid-column: 1/-1;
                max-width: 25rem;
            }
        }
    }
</style>