---
import TOC from './TOC';
import TextBlurFading from "~/components/common/TextBlurFading";
import BreakMultipleLine from "~/components/common/BreakMultipleLine.astro";
import Arrows from "~/components/common/Arrows.astro";

const { post } = Astro.props;
---
<section class="sc-post__main" id="post-content">
    <div class="post__main">
        <div class="post__intro">
            <div class="container grid">
                <p class="upper post__intro-label">(Intro)</p>
                <div class="heading h4 fw-thin cl-txt-title post__intro-content">
                    <TextBlurFading
                        triggerOpts = {{
                            start: 'top bottom-=10%',
                            end: 'bottom center+=10%'
                        }}
                        client:visible={{ rootMargin: "100% 0% 100% 0%" }}
                        >
                        <BreakMultipleLine text={post.excerpt}/>
                    </TextBlurFading>
                </div>
                <a href={"#"} class="cl-txt-orange arrow-hover post__intro-link" data-cursor="-link" data-cursor-stick=".post__intro-link-stick">
                    <span class="txt-link hover-un">
                        <div id="sticker" class="post__intro-link-stick"></div>
                        Visit
                    </span>
                    <Arrows slot="arrows" type="long" size={1.2}/>
                </a>
            </div>
        </div>
        <div class="post__content">
            <div class="container grid">
                <div class="post__content-toc">
                    <TOC client:visible={{ rootMargin: "100% 0% 100% 0%" }}>
                </div>
                <div class="post__content-richtext">
                    <span class="line"></span>
                    <div class="richtext-global post__content-richtext-inner">
                        <slot />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss" is:global>
    @use '~/assets/styles/mixins' as *;

    .sc-post__main {
        position: relative;
        z-index: 4;
        margin-top: -100vh;
        background-color: var(--cl-dm-bg);
    }
    .post {
        &__main {
            padding-top: 14.5rem;
            @include md {
                padding-top: 8rem;
            }
            @include sm {
                padding-top: 6rem;
            }
            @include xs {
                padding-top: 4rem;
            }
        }
        &__intro {
            padding-bottom: 12rem;
            @include md {
                padding-bottom: 8rem;
            }
            @include sm {
                padding-bottom: 6rem;
            }
            @include xs {
                padding-bottom: 4rem;
            }
            &-label {
                grid-column: 1/2;
                grid-row: 1/2;
                @include sm {
                    grid-column: 1/-1;
                    margin-bottom: 1.2rem;
                    @include text(14);
                }
            }
            &-content {
                grid-column: 5/15;
                max-width: 99.7rem;
                @include md {
                    grid-column: 4/-1;
                }
                @include sm {
                    grid-column: 1/-1;
                    max-width: unset;
                    margin-bottom: 3.2rem;
                }
            }
            &-link {
                display: flex;
                align-items: baseline;
                column-gap: .6rem;
                grid-column: 1/2;
                grid-row: 1/2;
                align-self: end;
                @include sm {
                    grid-row: 3/4;
                }
            }
        }
        &__content {
            &-toc {
                grid-column: 1/4;
                @include sm {
                    display: none;
                }
                &-inner {
                    position: sticky;
                    max-height: calc(100vh - 15rem);
                    top: 15rem;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 7.5vh;
                }
                &-title {
                    margin-bottom: 1.2rem;
                }
                &-listing {
                    display: flex;
                    flex-direction: column;
                    // gap: 1.2rem 0;
                    list-style-type: none;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding-block: 3rem;
                    margin-block: -3.6rem;
                    mask-image: linear-gradient(transparent, #fff 3.2rem,#fff calc(100% - 4rem), transparent);
                    -webkit-mask-image: linear-gradient(transparent, #fff 3.2rem,#fff calc(100% - 4rem), transparent);
                    @include custom-scroll(.3rem, transparent, var(--cl-orange));
                }
                &-item {
                    position: relative;
                    padding-left: 1.6rem;
                    transition: color 0.4s ease-in-out;
                    cursor: pointer;
                    padding-block: .6rem;
                    &-point {
                        position: absolute;
                        @include size(.8rem);
                        border-radius: 50%;
                        background-color: var(--cl-dm-disable);
                        left: 0;
                        top: .7em;
                        transition: background-color 0.4s ease-in-out;
                    }
                    // &:hover,
                    &:hover {
                        @include tColor(title, dm);
                    }
                    &.active {
                        @include tColor(title, dm);
                        .post__content-toc-item-point {
                            background-color: var(--cl-orange);
                        }
                    }
                }
            }
            &-richtext {
                grid-column: 5/15;
                max-width: 99.7rem;
                position: relative;

                padding-block: 12rem;
                @include md {
                    grid-column: 4/-1;
                    padding-block: 8rem;
                }
                @include sm {
                    grid-column: 1/-1;
                    padding-block: 6rem;
                }
                @include xs {
                    padding-block: 4rem;
                }
                h2 {
                    @include text(h4);
                }
                .line {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }
</style>