---
import type { Post } from '~/types';

import Hero from './Hero.astro';
import Content from './Content.astro';
import PostScript from './script';
export interface Props {
    post: Post;
}
const { post } = Astro.props;
---
<div class="post-wrapper">
    <PostScript client:visible={{ rootMargin: "100% 0% 100% 0%" }}/>
    <Hero post={post}/>
    <Content post={post}><slot/></Content>
</div>
<style lang="scss">
    @use '~/assets/styles/mixins' as *;
    .post-wrapper {
        position: relative;
    }
</style>